* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
}

.userInfo-first {
  margin-right: 5px;
}

.width {
  width: 100%;
}

.hello {
  margin-top: 100px;
}
